<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to my Django website</title>
    <link rel="stylesheet" href="/styling.css">
</head>
   
<body>
    <h1>Hello World</h1>
    <H2>Again and again coming back HTML. Why?</H2>

    <nav>
        <ul class="menubar">
            <li><a href="#home">Home</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
</body>
</html>